/mturk-server
/e2e-coref
/cort
.DS_Store
*.pyc
/temp/
*.class
*.pkl
*.npy
/data.zip
/test.py
__pycache__
*.sh.out
slurm-*.out
/venv/
/.vscode
/scrapbook.py
.noseids
bin
/output.bak
nohup.out
/Drakefile
/.drake
/drake.log
notebooks/*.html
aws-key.conf
notebooks/temp
/anonymize.py
data/annotations.backup
nosetests.xml
*.bak*
CoreNLP/output